build/ALL_BUILD.vcxproj
build/ALL_BUILD.vcxproj.filters
build/cmake_install.cmake
build/CMakeCache.txt
build/CMakeFiles/20fbf302bec28147b0bc4a07ccaacee7/generate.stamp.rule
build/CMakeFiles/3.5.0/CMakeCCompiler.cmake
build/CMakeFiles/3.5.0/CMakeCXXCompiler.cmake
build/CMakeFiles/3.5.0/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.5.0/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.5.0/CMakeRCCompiler.cmake
build/CMakeFiles/3.5.0/CMakeSystem.cmake
build/CMakeFiles/3.5.0/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.5.0/CompilerIdC/CompilerIdC.exe
build/CMakeFiles/3.5.0/CompilerIdC/CompilerIdC.vcxproj
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CMakeCCompilerId.obj
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.57.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.62.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.52.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.56.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.57.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.62.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.57.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.62.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.5.0/CompilerIdCXX/CompilerIdCXX.exe
build/CMakeFiles/3.5.0/CompilerIdCXX/CompilerIdCXX.vcxproj
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/CMakeFiles/3.5.0/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/feature_tests.bin
build/CMakeFiles/feature_tests.cxx
build/CMakeFiles/generate.stamp
build/CMakeFiles/generate.stamp.depend
build/CMakeFiles/generate.stamp.list
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/vtkRenderingCore_AUTOINIT_vtkInteractionStyle_vtkRenderingFreeType_vtkRenderingOpenGL2.h
build/project.vcxproj
build/project.vcxproj.filters
build/solution.sln
build/ZERO_CHECK.vcxproj
build/ZERO_CHECK.vcxproj.filters
src/CMakeLists.txt
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.143.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.delete.146.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.143.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.146.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.26.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.65.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.66.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.read.67.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.1.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.143.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.146.tlog
build/CMakeFiles/3.5.0/CompilerIdC/Debug/CompilerIdC.tlog/link-VCTIP.write.26.tlog
build/solution.sdf
build/solution.VC.opendb
build/.vs/solution/v14/.suo
build/project.dir/Debug/project.Build.CppClean.log
build/project.dir/Debug/project.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.Build.CppClean.log
build/x64/Debug/ZERO_CHECK/ZERO_CHECK.log
